body{
    margin: 0%;
}

.container{
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: space-around;


}

.item1{
    
    border: 1px solid black;
    border-radius: 3px;
    background-color: red;
    color: white;

}

.item2{

    border: 1px solid black;
    border-radius: 3px;
    background-color: green;
    color: white;
    
}

.item3{

    border: 1px solid black;
    border-radius: 3px;
    background-color: blue;
    color: white;
    
}

.item4{

    border: 1px solid black;
    border-radius: 3px;
    background-color: yellow;
    color: black;
    
}

.item5{

    border: 1px solid black;
    border-radius: 3px;
    background-color: brown;
    color: white;
    
}

.item6{

    border: 1px solid black;
    border-radius: 3px;
    background-color: blueviolet;
    color: white;
    
}

.item7{

    border: 1px solid black;
    border-radius: 3px;
    background-color: burlywood;
    color: white;
    
}

.item8{

    border: 1px solid black;
    border-radius: 3px;
    background-color: darkgreen;
    color: white;
    
}

.item9{

    border: 1px solid black;
    border-radius: 3px;
    background-color: darkkhaki;
    color: white;
    
}